<div class="container">
  <div *ngIf="countryDetails">
    <div style="text-align: center"><legend>{{countryDetails.name}}</legend></div>

    <h1 class="text-center" style="color: white;margin: 30px 0px">{{countryDetails.name | uppercase}} detailed view</h1>
          
    <div class="row ">
      <div class="col-md-6" style="margin: auto"> 
          <div class="card" style="box-shadow: -2px -1px 16px -3px rgba(255,255,255,1);">
              <div class="card-body text-center">
                <span class="card-text ">
                  <img src={{countryDetails.flag}} alt="" style="width:500px" class="img-fluid"><br><br>
                  <h1>{{countryDetails.name}}</h1><br>
                  <div>Native Name : {{countryDetails.nativeName}}</div><br>
                  <div>Capital : {{countryDetails.capital}}</div><br>
                  <div>Population : {{countryDetails.population}}</div><br>
                  <div>Region : {{countryDetails.region}}</div><br>
                  <div>SubRegion : {{countryDetails.subregion}}</div><br>
                  <div>Demonym : {{countryDetails.demonym}}</div><br>
                  <div>Timezone : {{countryDetails.timezones}}</div><br>
                  
                </span>
              </div>
            </div>
      </div>
    </div>
    
    
  </div>
</div>




