<div class="container">
    <div class="row" >
     
          <div class="card" style="width: 18rem; margin: 5%;">
              <img class="card-img-top" src="../assets/regions/africa.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><h3>Africa</h3></h5>
                
                <a [routerLink]="['/regionview/Africa']"  class="btn btn-primary">View Countries</a>
              </div>
            </div>
            <div class="card" style="width: 18rem; margin: 5%;">
                <img class="card-img-top" src="../assets/regions/americas.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><h3>Americas</h3></h5>
                  
                  <a [routerLink]="['/regionview/Americas']" class="btn btn-primary">View Countries</a>
                </div>
              </div>
              <div class="card" style="width: 18rem; margin: 5%;">
                  <img class="card-img-top" src="../assets/regions/asia.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"><h3>Asia</h3></h5>
                    
                    <a [routerLink]="['/regionview/Asia']" class="btn btn-primary">View Countries</a>
                  </div>
                </div>
                <div class="card" style="width: 18rem; margin: 5%;">
                    <img class="card-img-top" src="../assets/regions/europe.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title"><h3>Europe</h3></h5>
                      
                      <a [routerLink]="['/regionview/Europe']"  class="btn btn-primary">View Countries</a>
                    </div>
                  </div>
          <div class="card" style="width: 18rem; margin: 5%;">
              <img class="card-img-top" src="../assets/regions/oceania.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><h3>Oceania</h3></h5>
                
                <a [routerLink]="['/regionview/oceania']"   class="btn btn-primary">View Countries</a>
              </div>
            </div>
     
    </div>
  </div>